.cadastro-content {
  display: flex;
  height: 100vh;  /* Faz a altura ocupar toda a tela */
}

app-formulario, app-imagem {
  flex: 1; /* Cada componente ocupa metade do espaço disponível */
  height: 100%; /* Garante que ambos os componentes ocupem toda a altura da tela */
  padding: 20px; /* Opcional: para dar um espaço interno aos componentes */
  box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
}
