.cadastro-content {
  display: flex;
  height: 100vh;  /* Faz a altura ocupar toda a tela */
}

app-formulario, app-imagem {
  flex: 1; /* Cada componente ocupa metade do espaço disponível */
  height: 100%; /* Garante que ambos os componentes ocupem toda a altura da tela */
  padding: 20px; /* Opcional: para dar um espaço interno aos componentes */
  box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cadastro-content {
    flex-direction: column; /* Muda a direção dos componentes para vertical */
  }

  app-imagem{
    display: none;
  }
  app-formulario{
    display: flex;
    height: auto; /* Remove a altura fixa dos componentes */
    max-width: 100%; /* Garante que o componente ocupe toda a largura */
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
}

