<section class="contato-content">
  <div class="side-bar-menu">
    <div id="perfil">
      <img src="assets/Sem título.jpeg" alt="" id="user-perfil">
      <i class="fa-regular fa-gear" ></i>
    </div>

    <img src="assets/image.png" alt="" class="logo">

    <div id="tools">
      <i class="fa-regular fa-moon" style="color: #ffffff;"></i>
      <i class="fa-regular fa-globe" style="color: #ffffff;"></i>
    </div>
  </div>

  <section id="contato-content">
  <div class="contact-search">
    <input
      type="text"
      placeholder="Pesquisar contato..."
      [(ngModel)]="filtro" />
  </div>

  <div class="contact-list">
    <div 
      *ngFor="let contato of contatosFiltrados" 
      class="contact-item"
      (click)="selecionarContato(contato)">
      
      <img [src]="contato.imagem" alt="Foto do {{ contato.nome }}" />
      <div class="contact-name">{{ contato.nome }}</div>
    </div>
  </div>
</section>

</section>
