.form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.titulo-imagem {
  width: auto;
  height: 70px;
  margin-left: 50px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  color: white;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: white;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-bottom: 2px solid #007bff;
}

.btn-access {
  box-shadow: 2px 4px 5px 0px rgba(64,64,64,1);
  -webkit-box-shadow: 2px 4px 5px 0px rgba(64,64,64,1);
  -moz-box-shadow: 2px 4px 5px 0px rgba(64,64,64,1);
}

button {
  display: flex;
  justify-self: right;
  padding: 10px;
  margin-right: -20px;
  font-size: 1.1em;
  background-color: blue;
  color: #465EFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:enabled {
  background-color: #ffffff;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #b8b8b8;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .titulo-imagem {
    width: 70px;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }

  input {
    font-size: 0.9em;
  }

  button {
    font-size: 1em;
    padding: 8px;
  }
  
  
}
